src/main/mule/gitactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="60eea851-5e62-44da-b020-78a0a3ff639b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitactionsFlow" doc:id="ef66469a-b39c-46a4-8465-f9d165a5e57a" >
		<http:listener doc:name="Listener" doc:id="7b5674d9-68b1-4965-9d43-d6a04bf46849" config-ref="HTTP_Listener_config" path="/gitaction"/>
		<ee:transform doc:name="Transform Message" doc:id="956fb38c-9367-4e48-9cc4-1c1383b6d3cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Hello Git Actions!!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c8608ade-4e5b-4ea7-a769-591a038b04eb" message="#[payload]"/>
	</flow>
</mule>
